@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";
body {
    position: relative;
    padding-top: 81px;
    height: 100%;
    font-family: 'Circe', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #000;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    text-decoration: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    margin: 0 0 10px 0;
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
}

input:hover,
input:focus {
    outline: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.title {
    font-family: Circe;
    color: black;
    font-weight: 900;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
        position: relative;
    }
}

.btn-black {
    padding: 11px 0 11px 0;
    background: linear-gradient(10deg, #444452 0%, #2c2a38 100%);
    border-radius: 4px;
    color: white;
    font-family: Gilroy;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
}

.btn-black:hover {
    background: linear-gradient(20deg, #467200 0%, #578a05 100%);
    color: #fff;
}

.btn-green {
    padding: 0 0 0 0;
    background-color: #4e00ff;
    background: linear-gradient(10deg, #284a00 0%, #69a000 100%, #69a000 100%);
    color: white;
    font-family: Circe;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    border-radius: 4px;
}

.btn-green:hover {
    color: #fff;
    background: linear-gradient(-10deg, #284a00 0%, #69a000 100%, #69a000 100%);
}

::-webkit-input-placeholder {
    color: #000;
}

::-moz-placeholder {
    color: #000;
}

:-moz-placeholder {
    color: #000;
}

:-ms-input-placeholder {
    color: #000;
}

form {
    display: block;
    span {
        display: inline-block;
    }
    input {
        padding: 0 20px 0 28px;
        color: black;
        font-family: Circe;
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        background-color: white;
        border-radius: 4px;
        box-shadow: none;
        border: none;
    }
    button {
        border: none;
        cursor: pointer;
        outline: none;
    }
    button:focus {
        outline: none;
    }
}


/*
P O P U P
*/

#popup-callback {
    span {
        display: block;
    }
}

.popup__dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 761px;
    height: 100vh;
}

.popup__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 761px;
    width: 100%;
    padding: 83px 15px 72px 15px;
    background-color: white;
    border-radius: 2px;
    border: none;
}

.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.popup__close {
    position: absolute;
    right: 18px;
    top: 14px;
    font-size: 25px;
    font-weight: normal;
    text-shadow: none;
    cursor: pointer;
    transition: all .3s;
    opacity: 1;
}

.popup__title {
    margin-bottom: 26px;
    color: black;
    text-align: center;
    font-family: Circe;
    font-size: 18px;
    line-height: 1.25;
    font-weight: 700;
}

.ov-hidden {
    overflow: hidden;
}

.form-popup {
    input {
        display: block;
        max-width: 216px;
        padding: 8px 0 8px 0;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100%;
        color: black;
        font-family: Circe;
        font-size: 14px;
        text-align: center;
        font-weight: 400;
        background-color: white;
        border: 2px solid #c4c4c4;
        border-radius: 4px;
    }
    .btn-black {
        display: block;
        max-width: 216px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 33px;
        padding: 15px 0 15px 0;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
    }
    .agree {
        color: black;
        font-family: Circe;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        margin: 0 auto;
    }
}

#popup-thanks {
    .btn-black {
        max-width: 216px;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 15px 0 15px 0;
        font-size: 14px;
        font-weight: 700;
        border: none;
        outline: none;
    }
}

#popup-thanks .popup__content {
    padding: 45px 15px 29px 15px;
}

@import "base/media";