@import "modules/header/header";
@import "modules/top-wrap/top-wrap";
@import "modules/price/price";
@import "modules/form-middle/form-middle";
@import "modules/about/about";
@import "modules/fix-bugs/fix-bugs";
@import "modules/rewiews/rewiews";
@import "modules/bottom-form/bottom-form";
@import "modules/questions/questions";
@import "modules/contacts/contacts";
@import "modules/footer/footer";