.rewiews {
    margin-bottom: 64px;
    .title {
        font-family: Circe;
        text-align: left;
        font-size: 38px;
        font-weight: 900;
        color: black;
    }
    .title span {
        color: #6b35f5;
    }
}

.rewiews-box {
    width: 100%;
    padding: 32px 67px 12px 65px;
    box-shadow: 0 8px 20px rgba(187, 207, 222, 0.28);
}

.rewiews-box--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 43px;
}

.rewiews-box__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rewiews-box__item {
    width: 44.5%;
    padding: 0 0 21px 0;
    margin-bottom: 25px;
    font-family: Circe;
    font-size: 14px;
    font-weight: 300;
}

.rewiews-box__item:first-child,
.rewiews-box__item:nth-child(2) {
    border-bottom: 1px solid #d7d4d4;
}

.rewiews-box__item--top {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin-bottom: 14px;
}

.rewiews-box__item--img {
    position: relative;
    display: block;
    width: 75px;
    height: 75px;
    margin-right: 15px;
    flex-shrink: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.rewiews-box__item--name {
    color: black;
    font-family: Circe;
    font-size: 18px;
    font-weight: 900;
}

.rewiews-box__item--text {
    padding-right: 25px;
    color: black;
    font-family: Circe;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.25;
}

.btn-dashed {
    display: block;
    max-width: 227px;
    width: 100%;
    padding: 14px 0 12px;
    border: 2px dotted #9e9c9c;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-family: Circe;
    font-size: 16px;
    font-weight: 700
}

.btn-dashed:hover {
    color: #000
}