@media screen and (max-width: 1199px) {
    .header-menu {
        justify-content: space-between;
        margin: 25px 0 0 0;
    }
    .header-menu li {
        margin-right: 0;
    }
    .fixed .header-menu a {
        padding: 18px 45px 18px 45px;
    }
    .top-wrap .title {
        font-size: 38px;
    }
    body {
        padding-top: 126px;
    }
    .top-wrap {
        padding: 50px 0 0 0;
        min-height: 500px;
    }
    .man-fridge {
        display: none;
    }
    .girl {
        display: none;
    }
    .price-items .col-lg-3 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .price-item {
        margin-bottom: 20px;
    }
    .form-middle-wrap {
        padding: 55px 0 55px 0;
    }
    .form-middle-wrap .col-lg-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fix-bugs-item__text b {
        font-size: 16px;
    }
    .fix-bugs-item__text b br {
        display: none;
    }
    .fix-bugs-item__text p,
    .fix-bugs-item__text a {
        font-size: 14px;
    }
    .footer .phone {
        margin: 2px 22px 0 50px;
    }
    .footer-logo {
        width: 25%;
    }
}

@media screen and (max-width: 991px) {
    html,
    body {
        overflow-x: hidden;
    }
    .menu-mobile {
        position: fixed;
        top: 81px;
        right: 0;
        display: block;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 81px);
        z-index: 30;
        overflow: auto;
        background: rgba(0, 0, 0, .85);
        padding: 55px 15px 25px;
        box-sizing: border-box;
        box-shadow: inset 0 29px 33px rgba(0, 86, 189, .1);
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .header-menu {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-menu li {
        margin-bottom: 15px;
    }
    .header-menu a {
        padding: 5px 15px 5px 15px;
        font-size: 22px;
        color: #fff;
    }
    .menu a:hover {
        background: transparent;
        box-shadow: none;
        color: #fff;
    }
    .menu a:active {
        color: #467200;
    }
    .menu-mobile.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    #hamburger-icon {
        display: block;
    }
    body {
        padding-top: 81px;
    }
    .header .btn-black {
        margin: -8px 43px 0 0;
    }
    .cities {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px auto 15px auto;
    }
    .cities b {
        display: block;
        margin: 0 0 10px 0;
        color: #fff;
    }
    .nice-select {
        min-width: 280px;
        max-width: 280px;
    }
    .header .phone {
        display: block;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        margin: 0 auto;
        padding: 0;
        color: #fff;
        font-size: 20px;
    }
    .header .phone::before {
        content: none;
    }
    .top-wrap {
        min-height: auto;
        padding: 50px 0 45px 0;
    }
    .top-wrap .title {
        font-size: 32px;
        line-height: 1.1;
        text-align: center;
    }
    .top-wrap .desc {
        font-size: 27px;
        text-align: center;
    }
    .form-box {
        text-align: center;
    }
    .form-box form .agree {
        text-align: center;
    }
    .form-middle-wrap .title {
        font-size: 32px;
        line-height: 1.1;
    }
    .form-middle-wrap .desc {
        font-size: 16px;
    }
    .about-box {
        display: block;
    }
    .about-box--img {
        margin-bottom: 20px;
    }
    .about-box--img img {
        margin: 0 auto;
    }
    .about {
        padding: 50px 0 50px 0;
    }
    .about-box--text {
        padding: 0;
        text-align: center;
    }
    .about-box--text .title {
        padding-left: 0;
    }
    .fix-bugs-item {
        margin-bottom: 25px;
    }
    .fix-bugs-item__img img {
        border-radius: 0 0 4px 4px;
        -webkit-border-radius: 0 0 4px 4px;
        -moz-border-radius: 0 0 4px 4px;
        -ms-border-radius: 0 0 4px 4px;
        -o-border-radius: 0 0 4px 4px;
    }
    .rewiews-box--top {
        flex-direction: column;
    }
    .rewiews .title {
        margin-bottom: 20px;
        text-align: center;
    }
    .rewiews-box {
        width: 100%;
        padding: 20px 20px 0;
    }
    .footer-box {
        flex-direction: column;
    }
    .footer-logo {
        width: 100%;
    }
    .footer-logo .logo {
        display: block;
        max-width: 225px;
        width: 100%;
        margin: 0 auto 20px;
    }
    .footer-info {
        width: 100%;
    }
    .footer-info--top {
        flex-direction: column;
    }
    .bottom-menu {
        display: none;
    }
    .footer .logo img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .footer-logo b {
        padding: 0;
        text-align: center;
    }
    .footer .logo span {
        text-align: center;
    }
    .footer-info--bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }
    .footer .phone {
        margin: 2px auto 15px auto;
    }
    .footer .btn-green {
        margin-bottom: 15px;
    }
    .footer-info--bottom a {
        margin-bottom: 15px;
    }
    .contacts-box {
        flex-direction: column-reverse;
    }
    .contacts-box__map {
        width: 100%;
        height: 350px;
    }
    .contacts-box__form {
        width: 100%;
        padding: 35px 20px 35px 20px;
    }
    .contacts-box .title {
        font-size: 32px;
        line-height: 1.1;
        text-align: center;
    }
    .contacts-box .desc {
        font-size: 16px;
        line-height: 1.1;
        text-align: center;
    }
    .contacts-form {
        text-align: center;
    }
    .contacts-form .agree {
        text-align: center;
    }
    .footer-info--bottom span {
        text-align: center;
        margin: 0;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .about-box--text {
        padding-right: 15px;
        padding-left: 15px;
    }
    .header .btn-black {
        margin: 20px auto 0 auto;
    }
    .top-wrap .title {
        font-size: 26px;
    }
    .top-wrap .title br {
        display: none;
    }
    .top-wrap .desc {
        font-size: 18px;
    }
    .top-wrap .desc span {
        font-size: 14px;
    }
    .form-box form button {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .top-wrap {
        padding: 25px 0 25px 0;
    }
    .price {
        padding: 30px 0 30px 0;
    }
    .price .title {
        font-size: 26px;
    }
    .price-items .col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .price .btn-black {
        max-width: 100%;
    }
    .form-middle-wrap {
        padding: 25px 0 25px 0;
    }
    .form-middle-wrap .title {
        font-size: 26px;
        text-align: center;
    }
    .form-middle-wrap .desc {
        text-align: center;
    }
    .form-middle span {
        max-width: 100%;
    }
    .form-middle button {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 20px;
    }
    .form-middle .agree {
        text-align: center;
    }
    .about-box--text .title {
        font-size: 26px;
    }
    .about-box--text p,
    .about-box--text b {
        font-size: 14px;
        text-align: center;
    }
    .about-box--text li {
        font-size: 14px;
    }
    .fix-bugs .title {
        font-size: 24px;
    }
    .fix-bugs .title br {
        display: none;
    }
    .rewiews .title {
        font-size: 22px;
        line-height: 1.1;
    }
    .rewiews-box__items {
        flex-direction: column;
    }
    .rewiews-box__item {
        width: 100%;
        border-bottom: 1px solid #d7d4d4;
    }
    .rewiews-box__item:nth-last-child(2) {
        border-bottom: 1px solid #d7d4d4;
    }
    .rewiews-box__item:last-child {
        border: none;
    }
    .bottom-form-box {
        width: 100%;
        padding: 15px 20px 15px 20px;
    }
    .exelent-item {
        font-size: 14px;
    }
    .bottom-form button {
        max-width: 100%;
        margin: 0 auto;
        margin-top: 15px;
    }
    .bottom-form .agree {
        text-align: center;
    }
    .questions .title {
        font-size: 26px;
        line-height: 1.1;
    }
    .contacts-box .title {
        font-size: 26px;
        line-height: 1.1;
    }
    .contacts-box .desc {
        font-size: 14px;
    }
    .contacts-form span {
        max-width: 100%;
        margin-right: 0;
    }
    .contacts-form button {
        margin: 0 auto;
        max-width: 100%;
        margin-top: 15px;
    }
    .contacts-box__form {
        width: 100%;
        padding: 25px 15px 20px 15px;
    }
    .contacts {
        margin-bottom: 50px;
    }
    .fix-bugs {
        padding: 0 0 50px 0;
    }
}